<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>this is a title</title>
	   <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/clean-blog.min.css') }}" rel="stylesheet">

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <a class="navbar-brand" href="/">
       	<img src="/img/20210127_183453_0000.png" width="80" height="35" alt="" class="d-inline-block align-top">
       Home	
       </a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Website Created by us
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://hightechtip.com">hightechtip</a>
          <a class="dropdown-item" href="https://shivamforum.herokuapp.com">Idiscuss forum</a>
          <a class="dropdown-item" href="https://shivamcorona.netliy.app">Corona virus detail</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">About us</a>
          <a class="dropdown-item" href="#">Contact us</a>
        </div>
      </li>
     
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <!-- <input class="form-control mr-sm-5" type="search" placeholder="Search" aria-label="Search"> -->
      <a href="/your"><button class="btn btn-outline-success my-2 my-sm-2" type="submit">Your Post</button></a>
      <a href="/signin"><button class="btn btn-outline-success my-2 my-sm-2" type="submit">Sign in</button></a>
      <a href="/login"><button class="btn btn-outline-danger my-2 my-sm-2" type="submit">Login</button></a>
       <a href="/post"><button class="btn btn-outline-warning my-2 my-sm-2" type="submit">Add Post</button></a>
      <a href="/logout"><button class="btn btn-outline-primary my-2 my-sm-2" type="submit">Log out</button></a>
    </div>
  </div>
</nav>



{% block body %} {% endblock %}


 <hr>
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; shivamblog 2021</p>
          </div>
        </div>
      </div>
    </footer>


	  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>

</body>
</html>